version: '3.9'
services:
  db:
    image: postgres:16
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: pandadoc
      POSTGRES_PASSWORD: pandadoc
      POSTGRES_DB: pandadoc
    volumes:
      - db_data:/var/lib/postgresql/data
  redis:
    image: redis:7
    restart: unless-stopped
    ports:
      - "6379:6379"
volumes:
  db_data:
